option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    products: https://vagr5e9505.execute-api.eu-west-1.amazonaws.com/dev
    product: https://vagr5e9505.execute-api.eu-west-1.amazonaws.com/dev
    profile: https://pb5m5bm5h2.execute-api.eu-west-1.amazonaws.com/dev/api
